#contact_us {
    position: relative;
    margin-top: 150px;
}

#contact_us .txt::first-letter{
    color: var(--magenta);
}

#contact_us .txt{
    width: fit-content;
    margin: 0 auto;
    color: #03e9f4;
    font-size: 45px;
    text-align: center;
    border-bottom: 3px solid var(--magenta);
}

#contact_us .contacts{
    display: flex; 
    align-items: center;
    padding: 50px;
    justify-content: space-between;
}

#contact_us .contacts .form form{
    display: flex;
    flex-direction: column;
}

#contact_us .contacts .form form input{
    margin-bottom: 20px;
}

#contact_us .contacts .form form .inpt{
    width: 450px;
    height: 40px;
    padding-left: 10px;
    color: #00ffb3f6;
    outline: none;
    border: 2px solid #03e9f4;
    background-color: var(--background);
    font-size: 15px;
    font-family: gilroy-extraBold;
    letter-spacing: 2.5px;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

#contact_us .contacts .form form .inpt::placeholder{
    color: #fff;
    font-size: 15px;
    font-family: gilroy-semibold;
    letter-spacing: 0px;
}

#contact_us .contacts .form form .inpt:focus,
#contact_us .contacts .form form textarea:focus{
    border-color: #008cff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #0066ff6c;
    transition: 500ms;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#contact_us .contacts .form form .inpt:hover,
#contact_us .contacts .form form textarea:hover{
    border: 2px solid #0a3783;
}

#contact_us .contacts .form form textarea{
    max-width: 450px;
    height: 80px;
    outline: none;
    background-color: var(--background);
    padding: 10px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 16px;
    border: 2px solid #03e9f4;
    font-family: gilroy-semibold;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

#contact_us .contacts .form form textarea::placeholder{
    color: #fff;
    letter-spacing: 0px;
    font-family: gilroy-semibold;
}

#contact_us .contacts .form form .submit{
    width: 450px;
    height: 40px;
    background-color: #03e8f44d;
    outline: none;
    border: 2px solid #03e9f4;
    color: #fff;
    font-size: 16px;
    font-family: gilroy-semibold;
    cursor: pointer;
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
}

#contact_us .contacts .form form .submit:hover{
    letter-spacing: 0.5px;
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
}

/* links */
#contact_us .left a, #contact_us .right a{
    display: block;
}

#contact_us .left a:nth-child(2), #contact_us .right a:nth-child(2){
    margin: 20px 0;
}

#contact_us .left img, #contact_us .right img{
    width: 40px;
    height: 40px;
    filter: contrast(0.7) brightness(0.7);
    -webkit-filter: contrast(0.7) brightness(0.7);
}

#contact_us .left img:hover,
#contact_us .right img:hover{
    filter: contrast(1) brightness(1);
    -webkit-filter: contrast(1) brightness(1);
}