.developers{
    margin-top: 200px;
}

.developers p:nth-child(1){
    width: fit-content;
    margin: 0 auto;
    color: #03e9f4;
    font-size: 35px;
    text-align: center;
    border-bottom: 3px solid var(--magenta);
    padding: 0 5px;
}

.developers p span{
    color: var(--magenta);
}

.developers .questions{display: flex; padding: 50px; flex-direction: column; align-items: center;}

.developers .questions .item .que1{display: flex; align-items: center; margin-bottom: 25px; justify-content: space-between;}

.developers .questions .item{
    cursor: pointer;
    transition: 300ms;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 7px;
    margin: 10px 0;
    border-bottom: 3px solid #03e9f4;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    margin-left: 30px;
}

.developers .questions .item img.user{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.developers .questions .item span{
    margin-left: 20px;
    color: #03e9f4;
    font-size: 22px;
    display: none;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

.developers .questions .item span a{
    color: #ffffff;
    text-decoration: underline;
}

.developers .questions .item p{color: #03e9f4; font-size: 20px; margin-left: 20px;}

.active{display: inline-block !important;}
.adPd{padding-bottom: 15px !important; border-right: 3px solid #03e9f4;}


.developers .questions .item .down_arrow{
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

.rotate{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}